<h1>CADASTRO DE CLIENTES</h1>

<form [formGroup]="customerFormGroup">

    <mat-grid-list cols="4" rowHeight="100px">
        <mat-grid-tile colspan="2">
            <mat-form-field appearance="outline" floatLabel="always" hideRequiredMarker="false">
                <mat-label>Nome</mat-label>
                <input matInput placeholder="Informe o Nome" formControlName="nome">
            </mat-form-field>
        </mat-grid-tile>
    
        <mat-grid-tile>
            <mat-form-field appearance="outline" floatLabel="always" hideRequiredMarker="false">
                <mat-label>CPF</mat-label>
                <input matInput placeholder="Insira o CPF" formControlName="cpf">

                <mat-error *ngIf="!form['cpf'].pristine && form['cpf'].errors" class="invalid-feedback">
                    <div *ngIf="form['cpf'].errors['required']">
                        CPF é obrigatório
                    </div>
                    <div *ngIf="form['cpf'].errors['cpfInvalido']">
                        CPF inválido
                    </div>
                </mat-error>
            </mat-form-field>
        </mat-grid-tile>
    
        <mat-grid-tile>
            <mat-form-field appearance="outline" floatLabel="always" hideRequiredMarker="false">
                <mat-label>Data de Nascimento</mat-label>
                <input matInput [matDatepicker]="picker"  [min]="minDate" [max]="maxDate">
                <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
                <mat-datepicker #picker startView="multi-year"></mat-datepicker>
                <mat-error *ngIf="!form['dataNascimento'].pristine && form['dataNascimento'].errors" class="invalid-feedback">
                    <div *ngIf="form['dataNascimento'].errors['required']">
                        Data de Nascimento é obrigatório
                    </div>
                    <div *ngIf="form['dataNascimento'].errors['min']">
                        O cliente tem que ser maior de idade
                    </div>
                </mat-error>
            </mat-form-field>
        </mat-grid-tile>
    
        <mat-grid-tile>
            <mat-form-field appearance="outline" floatLabel="always" hideRequiredMarker="false">
                <mat-label>Renda Mensal</mat-label>
                <input matInput placeholder="Insira a renda do cliente" formControlName="rendaMensal"
                    currencyMask [options]="{ prefix: 'R$ ', thousands: '.', decimal: ',' }">
                <mat-error *ngIf="!form['rendaMensal'].pristine && form['rendaMensal'].errors" class="invalid-feedback">
                    <div *ngIf="form['rendaMensal'].errors['required']">
                        Renda Mensal é obrigatório
                    </div>
                    <div *ngIf="form['rendaMensal'].errors['min']">
                        Renda tem que ser maior do que zero
                    </div>
                </mat-error>
            </mat-form-field>
        </mat-grid-tile>
    
        <mat-grid-tile colspan="3">
            <mat-form-field appearance="outline" floatLabel="always" hideRequiredMarker="false">
                <mat-label>E-mail</mat-label>
                <input matInput placeholder="Informe o e-mail" formControlName="email">

                <mat-error *ngIf="!form['email'].pristine && form['email'].errors" class="invalid-feedback">
                    <div *ngIf="form['email'].errors['required']">
                        E-mail é obrigatório
                    </div>
                    <div *ngIf="form['email'].errors['email']">
                        E-mail inválido
                    </div>
                </mat-error>
            </mat-form-field>
        </mat-grid-tile>
    
    </mat-grid-list>
</form>


  
<p class="required-info">
    *Campos com preenchimento obrigatório
</p>

<button mat-flat-button color="accent">Salvar</button>