table {
    width: 100%;
}

td.mat-cell {
    background-color: #E5E5E5;
}

th.mat-header-cell {
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 700;
    font-size: 12px;
    line-height: 130%;
    color: #0EA0C0;
}

td.mat-cell {
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 700;
    font-size: 12px;
    line-height: 130%;
    color: #0B4051;
    border-bottom: 5px solid #ffffff;

}