<h1>CLIENTES</h1>

<mat-grid-list cols="6">
    <mat-grid-tile colspan="2">
        <mat-form-field appearance="outline" floatLabel="always" hideRequiredMarker="false">
            <mat-label>Filtro</mat-label>
            <input matInput>
        </mat-form-field>
    </mat-grid-tile>
    <mat-grid-tile>
        <button mat-flat-button color="accent" class="search-btn">
            <mat-icon aria-hidden="false" aria-label="Pesquisar Cliente">search</mat-icon>
        </button>
    </mat-grid-tile>

</mat-grid-list>
